<ul type="context" class="contextMenu" id="contextMenu">
    <!-- <li onclick="window.location.reload();"> Refresh</li> -->
    <!-- <hr>    -->
    <li id="context_edit" class="context_td_property" data-status="off">Edit On</li>
    <li id="cutElement" class="context_td_property">Cut</li>
    <li id="copyElement" class="context_td_property">Copy</li>
    <li id="pastElement" class="context_td_property">Paste</li>
    <li id="pasteElementAfter" class="context_td_property">Paste After</li>
    <li id="pasteElementBefore" class="context_td_property">Paste Before</li>
    
    <li id="context_addToSnippet" class="context_td_property disableMenu">Add to Snippet</li>
    <li id="context_copyAndPasteBelow" class="context_td_property">Copy Below</li>
    <li id="context_deleteCurrentElement" class="context_td_property">Delete</li>
    
    <li id="context_img_property" class='context_img_property'>Properties</li>
    <li id="context_img_cut" class='context_img_property'>Cut Image</li>
    <li id="context_img_copy" class='context_img_property'>Copy Image</li>
    <li id="context_img_paste" class='context_img_property'>Paste Image</li>
    <li id="context_img_delete" class='context_img_property'>Delete Image</li>
    <li id="context_img_link" class='context_img_property'>Link</li>

</ul>